// _color.scss
// ==================================================

// Colors
// --------------------------------------------------
//$color-white: rgba(255, 255, 255, 1);
$color-blueDark: rgba(43, 106, 124, 1);
$color-orange: rgba(255, 169, 14, 1);
$color-green: rgba(70, 121, 51, 1);
$color-blue: rgba(110, 180, 200, 1);
$color-gray: rgba(222, 212, 203, 1);
$color-black: rgba(33, 33, 33, 1);

$color-test-red: rgba(255, 33, 33, 1);
$color-test-green: rgba(33, 255, 33, 1);
$color-test-blue: rgba(33, 33, 255, 1);
