// _color2.scss
// ==================================================

// Colors
// --------------------------------------------------
$color-blueDark: rgba(0, 51, 102, 1);
$color-orange: rgba(255, 153, 0, 1);
$color-green: rgba(51, 153, 102, 1);
$color-blue: rgba(0, 115, 170, 1);
$color-grayDark: rgba(140, 135, 135, 1);
$color-gray: rgba(222, 212, 203, 1);
$color-black: rgba(3, 33, 33, 1);
